:root{
    --cor-fundo:#CFD9F4;
    --cor-fundo:#FFFFFF;
}
.cabecalho{
    background-color: var(--cor-fundo);
    color: var(--cor-fontes);
    display flex: ;
    justify-content: space-around;
    
}