*{
    margin: 0;
    padding: 0;
}
:root{
    --cor-fundo:#FFFFFF;
    --cor-fontes:#000000;
}
.cabecalho{
    background-color: var(--cor-fundo);
    color: var(--cor-fontes);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.imagem-cabecalho{
    width: 7%;
}
.item-lista-cabecalho{
    display: inline-block;
    margin: 0 60px;
    font-size: 20px;
}
.imagem-destaque{
    width: 16%;
}
.escola{
    background-image: linear-gradient(#FFFFFF,#CFD9F4);
    display: flex;
}